:root {
	--brand-primary: #007bff;
	--brand-primary-darkened: #0063ce;
	--brand-secondary: white;
	--brand-tertiary: #A2C563;

	--text-color: #D1ED9E;
	--success-color: #28a745;
	--failure-color: #dc3545;
}

* {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: medium;
}
body {
	overflow: hidden;
}
main {
	position: absolute;
	height: calc(100% - 25px);
	width: calc(100% - 220px);
	display: inline-block;
}
/*    SIDEBAR    */
sidebar {
	margin: 20px;
	padding: 3px;
	height: 82%;
	width: 180px;
	display: inline-block;
}
sidebar div.up {
	height: 10%;
	overflow: auto;
}
sidebar ul {
	list-style-type: none;
	cursor: pointer;
	overflow-y: scroll;
	height: 89%;
}
sidebar ul > li {
	overflow-x: auto;
}
sidebar ul > li::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

/*   GENERAL   */
.center {
	margin: auto;
}
.center-text {
	text-align: center;
}

/*   SCREENS    */
.blue-background {
	background-color: var(--brand-primary);
	color: var(--brand-secondary);
	text-align: center;
}
.blue-background .center {
	margin: auto;
	width: fit-content;
	height: fit-content;
}
.blue-background .center.blue-section {
	position: relative;
	transform: translateY(100%);
}
.blue-background .blue-section h1, .blue-background .blue-section h5, .blue-background .blue-section h3 {
	color: var(--brand-secondary);
}
.blue-background h1.big {
	font-size: 10em;
}
.loading-outer {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}
.loading-inner {
	position: relative;

	border-radius: 50%;
	width: 90px;
	height: 90px;
	border: 8px solid var(--brand-primary);
	border-top: 8px solid var(--brand-secondary);
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



/*   WINDOWS   */
.blend-full-screen {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: fixed;
	top: -20px;

	color: var(--brand-primary);
	text-align: left;
	background-color: var(--brand-secondary);
	opacity: 0.9;
}
.popup-inner-frame {
	--window-height: 80%;
	margin: auto;
	position: relative;
	overflow-y: scroll;
	overflow-x: auto;

	padding: 5px 10px;
	top: calc((100% - var(--window-height))/2 + 20px);
	height: var(--window-height);
	width: 80%;
}
.close-popup-window {
	position: relative;
	float: right;
}
.close-popup-window.inner {
	position: sticky;
	bottom: calc(100% - 40px);
	left: calc(100% - 40px);
}

/*   PUSH MESSAGE   */
.push-message {
	width: 100%;
	height: fit-content;
	padding: 3px;
	z-index: 11;
	position: fixed;

	border-bottom: 2px solid var(--brand-secondary);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	background-color: rgba(255, 255, 255, 0.8);
	color: var(--brand-primary);

	animation: push-show-up 0.5s linear;
}
.push-message-frame {
	text-align: center;
}
@keyframes push-show-up {
	0% {
		opacity: 0;
		transform: translate(0, -60px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

/*   INPUTS   */
.text-input {
	padding: 2px;
}

/*   EDITOR   */
#editor-wrapper {
	position: relative;
	top: -20px;
	height: calc(100% - 225px);
}
#editor {
	margin: 0 10px;
	padding: 0 5px;
	height: calc(100% - 64px);
	overflow-y: scroll;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.selected {
	text-decoration: underline;
	font-style: italic;
}
/*Editor destroy buttons*/
#editor .btn {
	margin-top: 2px;
}
/*EDIT STUFF*/
#add-value-input {
	margin-right: 10px;
}
#add-child-input {
	margin-right: 10px;
}

/*   TABS   */
#tab-bar {
	width: calc(100%-50px);
	height: 52px;
	margin: 0 10px;
	padding: 0 0px;

	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
#tab-bar > div {
	position: relative;
	top: 21px;

	height: fit-content;
	width: fit-content;
}
.nav-tab {
	padding: 0 2px;
	margin: 0 2px;
	cursor: context-menu;
	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: inset 0 0 2px var(--brand-primary-darkened);

	transition: all ease-in-out 0.1s;
}
.nav-tab:first-child {
	margin: 0;
}
.nav-tab.selected-tab {
	background-color: var(--brand-primary);
	color: var(--brand-secondary);
}
#tab-bar > div:hover .nav-tab.selected-tab:not(:hover) {
	background-color: var(--brand-secondary);
	color: var(--brand-primary);
}
.nav-tab:hover:not(.selected-tab) {
	background-color: var(--brand-primary);
	color: var(--brand-secondary);
	cursor: pointer;
}
.nav-tab i {
	transition: all ease-in-out 0.1s;
	display: none;
}
.nav-tab.selected-tab i {
	display: inline-block;
}
.nav-tab i:hover {
	opacity: 0.6;
}
/*TAB Scrollbar*/
#tab-bar::-webkit-scrollbar-thumb {
	background-color: var(--brand-secondary);
}
#tab-bar::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: var(--brand-primary);
	box-shadow: inset 0 0 2px var(--brand-primary-darkened);
}

/* DROPDOWNS */
#add-value-input, #add-child-input {
	float: left;
}
.dropdown {
	--dropdown-height: 80px;
	width: fit-content;
	height: fit-content;
}
.dropdown-content {
	margin: 4px 0;
	margin-top: 10px;
	position: sticky;
	z-index: 10;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

	height: var(--dropdown-height);
	overflow-y: scroll;
	overflow-x: hidden;
}
.dropdown-content::-webkit-scrollbar {
	width: 3.5px;
}
.dropdown-content li {
	list-style: none;
	border-radius: 2px;
	margin: 2px;
	cursor: pointer;
}
.dropdown-content li.selected-li {
	color: var(--brand-secondary);
	background-color: var(--brand-primary);
}